h1 {
	font-family: 'Manjari', sans-serif;
}

h1, h2, h3, h4 {
	text-align: center;
	text-transform: uppercase;
}

article p {
	text-align: justify;
	line-height: 2;
	font-size: 1em;
	font-style: italic;
	font-weight: bolder;
	font-family: 'Cute Font', cursive;
}

article h2 {
	font-size: 1.3em;
	font-family: 'Ubuntu', sans-serif;
}

a {
	font-family: 'Roboto', sans-serif;
}

[class^="fa"]{/*-angry:before*/
	color: aqua;
}

.fa-affiliatetheme {
	color: teal;
}

.fa-air-freshener {
	color: yellow;
}

.fa-acquisitions-incorporated {
	color: magenta;
}

.fa-american-sign-language-interpreting {
	color: brown;
}

.fa-arrow-circle-down {
	color: silver;
}



/*body {
	font-size: 1.2em;
}

article {
	font-size: 2em;
}

p {
	font-size: 2rem;
}
*/
/*section {
	background-color: pink;
}

article {
	background-color: yellow;
}
.lead{
	background-color: white;
	font-size: 2em;
}

.strong{
	font-weight: bold;
}

.hide{
	display: ;
}

a[href="www.kitm.lt"]{
	color: red;
}

a[href="www.smm.lt"]{
	color: green;
}

a[href="www.delfi.lt"]{
	color: brown;
}

a[href$=".pdf"] {
  color: green;
}

a[href$=".docx"] {
  color: red;
}

a[href$=".xlsx"] {
  color: grey;
}

/*Links*/
/*
a:link{
	color: red;
	text-decoration: none;
}

a:visited{
	color: green;
}

a:hover{
	color: aqua;
}

ul.references > li:nth-child(2n+3){
	background-color: magenta;
}*/